<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Hypest Team Scoreboard</title>
	<link href="css/font-awesome.css" rel="stylesheet"></link>
	<link href="css/hypest-score.css" rel="stylesheet"></link>
	
</head>
<body>
	<div class="scoreboard" id="scoreboard">
		<div class="stream-content">
			<div class="score" v-if="scoreBoard.entrants">
				<span class="label-decoration label-decoration-left">&nbsp;</span>
                <div class="player player-1 label" v-if="scoreBoard.entrants[0] && scoreBoard.entrants[0].players[0]">
                    <span class="player-score">
                        {{ scoreBoard.entrants[0].players[0].score }}
                    </span>

                    <span class="player-flag">
                        <img v-bind:src="scoreBoard.entrants[0].players[0].flag.icon" v-if="scoreBoard.entrants[0].players[0].flag.icon" class="player-flag-icon" />
                    </span>

                    <span class="player-name">
                        {{ scoreBoard.entrants[0].players[0].name }}
                    </span>

                    <span class="player-char-wrapper" v-if="isFilledIn(scoreBoard.entrants[0].players[0].character.icon)">
                        <img class="player-char" v-bind:src="scoreBoard.entrants[0].players[0].character.icon" />
                    </span>
                </div>
				<span class="label-decoration label-decoration-right">&nbsp;</span>
				
				<span class="label-decoration label-decoration-left">&nbsp;</span>
                <div class="player player-2 label" v-if="scoreBoard.entrants[1] && scoreBoard.entrants[1].players[0]">
                    <span class="player-score">
                        {{ scoreBoard.entrants[1].players[0].score }}
                    </span>

                    <span class="player-flag">
                        <img v-bind:src="scoreBoard.entrants[1].players[0].flag.icon" v-if="scoreBoard.entrants[1].players[0].flag.icon" class="player-flag-icon" />
                    </span>

                    <span class="player-name">
                        {{ scoreBoard.entrants[1].players[0].name }}
                    </span>

                    <span class="player-char-wrapper" v-if="isFilledIn(scoreBoard.entrants[1].players[0].character.icon)">
                        <img class="player-char" v-bind:src="scoreBoard.entrants[1].players[0].character.icon" />
                    </span>
                </div>
				<span class="label-decoration label-decoration-right">&nbsp;</span>
			</div>
			
			
			<div class="stream-footer">
				<div class="round label" v-if="isFilledIn(scoreBoard.round)">
					{{ scoreBoard.round }}
				</div>
				
				<!--<img src="img/streamer-logo.png" class="streamer-logo" />-->
				
				<div class="tournament label" v-if="isFilledIn(scoreBoard.tournamentName)">
					{{ scoreBoard.tournamentName }}
				</div>
			</div>
		</div>
		<div class="sidebar">
			<div class="camframe camframe-player">
			</div>
			
			<div class="credits-frame">
				<span v-if="isFilledIn(scoreBoard.caster)">
					<i class="fa fa-fw fa-microphone"></i>
					{{ scoreBoard.caster }}
				</span>

				<br/>
				
				<span v-if="isFilledIn(scoreBoard.streamer)">
					<i class="fa fa-fw fa-twitch"></i>
					{{ scoreBoard.streamer }}
				</span>
			</div>
						
			<div class="sponsor-frame">
				<span class="label sponsor-frame-label">
					Sponsors
				</span>
			</div>
		</div>
	</div>
	
	<script src="/lib/vue/vue.js"></script>
	<script src="js/hypest-score.js"></script>
</body>
</html>
