* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Din";
    src: url("../fonts/din-medium.ttf") format("truetype");
}

body {
    font-family: "Din", "Impact", "Arial", sans-serif;
    font-size: 2.5vh;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.scoreboard {
    height: 100vh;
    display: flex;
}

.sidebar {
    position: relative;
    width: 25vw;
    color: #fff;
    background: linear-gradient(to right, #231f20 0%, #414042 50%, #231f20 100%);
    padding: 1.5vw 5vh;
    height: 100vh;
}

.sidebar:before,
.sidebar:after {
    position: absolute;
    display: inline-block;
    content: '';
    background: linear-gradient(to right, #231f20 0%, #414042 50%, #231f20 100%);
    height: 100%;
    width: 1vw;
    top: 0;
}

.sidebar:before {
    left: 0;
}

.sidebar:after {
    right: 0;
}

.sidebar-box + .sidebar-box {
    margin-top: 1vh;
}

.sidebar-box {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 3vh;
    background: #000;
    height: 20vh;
    font-variant: small-caps;
}

.sidebar-box.event-logo {
    background-color: transparent;
    background-image: url("../img/sidebar-hypestteam-logo.png");
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: 50%;
    align-items: flex-end;
    padding-bottom: 2.5vh;
    font-size: 2vh;
}

.logos .logos-sidebar {
    width: 100%;    
    height: auto;
}

.streaming {
    margin-top: 3vh;
}

.game {
    display: inline-block;
    width: 75vw;
    padding: 3vh 0;
}

.entrants {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
}

.entrant {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entrant-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
    font-size: 200%;
    width: 6vh;
    height: 6vh;
    padding: 1vh;
}

.entrant-players {
    display: flex;
    flex-direction: column;
}

.entrant-player {
    display: flex;
    flex-direction: row;
    
    padding: 0.75vh;
}

.entrant-player-character {
    border: none;
    border-bottom: solid 0.75vh;
    height: 1.5em;
}

.entrant-player-character img {
    max-height: 1em;
}

.entrant-0 .entrant-score {
    order: 1;
}

.entrant-player + .entrant-player {
    margin-top: 0.5vh;
}

.entrant-player-item + .entrant-player-item {
    margin-left: 1ch;
}

.entrant-0 .entrant-score {
    margin-left: 1vh;
    border-radius: 1vh 2vh 1vh 2vh;
}

.entrant-1 .entrant-score {
    margin-right: 1vh;
    border-radius: 2vh 1vh 2vh 1vh;
}

.entrant-0 .entrant-player {
    border-radius: 1vh 3vh 1vh 3vh;
}

.entrant-1 .entrant-player {
    border-radius: 3vh 1vh 3vh 1vh;
}

.entrant-1 {
    order: 2;
}

.tournament-round-wrapper {
    order: 1;
}

.tournament-round {
    padding: 1vh;
    border-radius: 1vh 1vh 3vh 3vh;
}

.gradient-player,
.gradient-score,
.gradient-round {
    border: 0.5vh solid #bcbec0;
}

.gradient-player {
    background: linear-gradient(to right, #231f20 0%, #414042 50%, #231f20 100%);
}

.gradient-score {
    background: linear-gradient(to bottom, #231f20 0, #939598 41%, #414042 81%, #231f20 100%);
}

.gradient-round {
    background: linear-gradient(to bottom, #6B2024 0%, #EC2024 65%, #FFCDFF 100%)
}

.game-footer {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    width: 75vw;
    padding: 2vh;
}

.game-footer-logo {
    max-height: 2em;
}

