*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 100%;
    font-size: 18px;
}

.entrant {
    display: inline-block;
    border: 2px green solid;
    width: 20%;
    border-radius: 30px;
    padding: 10px;
}

.entrant + .entrant {
    margin-left: 20px;
}

.scoreboard {
    text-align: center;
}

.tourney-name {
    position: absolute;
    bottom: 0;
    width: 99%;
    padding: 40px;
}

