:root {
    --theme-bg: #c16ce9;
    --theme-bg-secondary: #9475ea;
    --theme-border: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Coolvetica Rg';
}