* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Arial, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: magenta;
}

.scoreboard {
    display: flex;
}

.sidebar {
    grid-column-start: 1;
    width: 20vw;
}

.sidebar-box + .sidebar-box {
    margin-top: 2vh;
}

.sidebar-box {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 5vh;
    color: white;
    background: green;
    height: 20vh;
}

.game {
    grid-column-start: 2;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.entrants,
.entrant,
.players,
.player {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.entrants {
    width: 100%;
}

.entrant + .entrant,
.player + .player {
    margin-left: 5vw;
}


.entrant {
    border: 5px solid black;   
}

.player-country {
    margin-right: 0.25vh;
}

.player-character {
    margin-left: 0.25vh;
}

.player-character img {
    height: 1em;
}

.player-character-color {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.entrant-score,
.players {
    padding: 1vh;
}

.tournament {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tournament-name,
.tournament-round {
    border: 3px solid black;
    padding: 1vh;
    text-align: center;
}

