name: Release lifecycle

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    name: Build and bump version

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn modules
        uses: actions/cache@v1
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Lerna bootstrap
        run: npx lerna bootstrap

      - name: Build admin UI
        run: yarn workspace @scoreman/client build

      - name: Configure CI Git User
        run: |
          git config --global user.name '@n0namedguy'
          git config --global user.email 'n0namedguy@users.noreply.github.com'

      - name: Version bumps and release
        run: npx lerna version --conventional-commits --create-release github --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set npm token
        run: npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN}

      - name: Publish on npm
        run: npx lerna publish from-package --yes

  release-linux:
    name: Linux release

    runs-on: ubuntu-latest
    needs:
      - build

    steps:
      - name: Build and release AppImage
        uses: samuelmeuli/action-electron-builder@master
        with:
          skip_build: true
          package_root: ./packages/standalone
          github_token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-windows:
    name: Windows release

    runs-on: windows-latest
    needs:
      - build

    steps:
      - name: Build and release executable
        uses: samuelmeuli/action-electron-builder@master
        with:
          skip_build: true
          package_root: ./packages/standalone
          github_token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
